<div class="pt-28 pb-32 mb:py-32">
  <div class="container">
    <div class="relative">
      <section
        id="community-section"
        class="pb-14 pt-0 md:py-14"
      >
        <h3 class="hidden md:block mb-8 uppercase">Community</h3>

        <iframe src="https://e.widgetbot.io/channels/959115981769302036/1062935442112127046" class="w-full h-[800px] md:max-w-[1480px]" allow="clipboard-write; fullscreen" height="800" width="1480"></iframe>

      </section>

    </div>
  </div>
</div>
